body {
    position: relative;
}

.container {
    position:absolute;
    border: 1px solid rgb(200, 199, 199);
    border-radius: 5px;
    background-color: rgb(233, 232, 232);
    box-shadow: 2px 2px rgb(181, 181, 181);
}
.cat {
    border: 1px solid rgb(200, 199, 199);
    position:relative;
    height:250px;
    width:500px;
}

.title {
    border: 1px solid rgb(200, 199, 199);
    position: relative;
    height:50px;
    width:500px;
    display:flex;
    align-items: center;

}

.paragraph {
    border: 1px solid rgb(200, 199, 199);
    position:relative;
    height:100px;
    width:500px;
    display: flex;
    align-items: center;
}

h2 {
    position: relative;
    left: 10px;
}

p {
    position: relative;
    text-align: left;
    padding:10px;
}